<div class="calc-steps" id="calcStepsWrap-<%= calcId %>">
  <button class="calc-steps__toggle" data-action="toggle-calc-steps" data-calc-id="<%= calcId %>" type="button">
    <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20"/><path d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z"/></svg>
    <span id="calcStepsLabel-<%= calcId %>">Show Calculations</span>
    <svg class="calc-steps__chevron" id="calcStepsChevron-<%= calcId %>" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5"><polyline points="6 9 12 15 18 9"/></svg>
  </button>
  <div class="calc-steps__body" id="calcSteps-<%= calcId %>">
    <!-- Steps populated by calculator JS -->
  </div>
</div>
